.containerLogements {
    background-color: rgb(227, 224, 224);
    border-radius: 25px;
    margin: 0px 100px 40px 100px;
    padding: 40px 0px 40px 0px;
    @media all and (max-width: 768px){
        background-color: transparent;
        margin: 0;
        padding-top: 0;
    }

    & ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 20px;
        @media all and (max-width: 768px){
            gap: 20px;
        }
    }
}