.error {
    max-width: 100%;
    @include flexColumn;
    margin-bottom: 139px;
    margin-top: 139px;
    gap: 139px;
    color: $primarycolor;
    @media all and (max-width: 768px){
        gap: 100px;
    }
    .errorNumber{
        font-size: 288px;
        font-weight: 700;
        @media all and (max-width: 768px){
            font-size: 96px;
        }
    }
    .oups{
        font-size: 36px;
        @media all and (max-width: 768px){
            font-size: 18px;
            text-align: center;
        }
    }
    .errorAccueil {
        font-size: 18px;
        color: $primarycolor;
        text-decoration: underline solid $primarycolor;
        @media all and (max-width: 768px){
            font-size: 14px;
        }
    }
};

